rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users collection
    
    match /users/{userId} {
      // Users can read their own profile
      allow get: if request.auth != null && request.auth.uid == userId;

      // Allow creating their own user doc if it doesn't already exist
      allow create: if request.auth != null &&
        request.auth.uid == userId &&
        !exists(/databases/$(database)/documents/users/$(userId));
    }
    
    // Events collection
    match /events/{eventId} {

      // Anyone can read data
      allow read: if true; 

      // Only staff can create events
      allow create: if request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "staff";

      // Everyone logged in can read
      allow read: if request.auth != null;

      // Members can sign up safely
      allow update: if request.auth != null &&
  get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "member"
    }
  }
}
