.event-page {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-img {
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  height: auto;
}

button {
  margin: 0.5rem;
}
